img {
    image-orientation: from-image;
    width: 300px;
}

.carousel {
    height:350px;
    width: 350px;
  }

body{
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size: 18px;
}

h1{
    font-size: 25px;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }